.subreddit-container {
  height: 100vh;
  width: 250px;
  background: white;
  border-radius: 2px;
  justify-content: space-between;
  background: rgb(249, 249, 249);
  box-shadow: 2px 0px 10px 1px #9e9e9e;
  transform: translateX(-100%);
  position: fixed;
  top: 60px;
  -webkit-transform: translateX(-100%);
}

.sub-reddits-section {
  position: fixed;
}
.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
.subreddit-container option {
  height: 30px;
  color: black;
  padding-top: 35px;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 18px;
  letter-spacing: -0.17px !important;
  text-decoration: none;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva,
    Arial, sans-serif !important;
}

.subreddit-container option:hover {
  text-decoration: underline;
  cursor: pointer;
}
